<div row>


    <div class="jumbotron col-xs-6 col-lg-offset-3">
        <h1>Crook's Survey Builder</h1>
        <p>To get started, register with a username and password and then play around on the site.</p>
        <p>Hope Top of Mind likes my work!</p>
        <em>- Chris</em>
    </div>
</div>